body{
    margin:0;
    padding:0;
    background:#000814;
    color:#ffffff;
    font-family:Arial,Helvetica,sans-serif;
}

.container{
    width:90%;
    max-width:500px;
    margin:40px auto;
    text-align:center;
}

h1{
    color:#FFD700;
    margin-bottom:5px;
}

h3{
    color:#cccccc;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin:10px 0;
    font-size:18px;
    border:none;
    border-radius:10px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:15px;
    font-size:20px;
    background:#FFD700;
    color:#000;
    border:none;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#ffb700;
}

#result{
    margin-top:25px;
    background:#071A2E;
    padding:20px;
    border-radius:15px;
    text-align:left;
    line-height:1.8;
    min-height:120px;
}

img{
    max-width:120px;
    margin-top:10px;
    border-radius:10px;
}
